body{
  font-family: 'Inter';
}

.reveal {
  h1 {
    color: $headline;
  }

  h2 {
    font-size: 3rem;
    font-weight: 200;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h2, h3, h4 { color: white; }

  .progress span {
    color: $headline;
  }

  .accent {
    color: $accent;
  }

  .horizontal-group {
    &:after{
      clear:both;
    }
  }
  .horizontal {
    float: left;
    margin-left: 10%;
  }
}
