body{
  font-family: 'Inter';
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.reveal {
  pre {
    font-size: 2rem;
    margin: 0;
  }

  .pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }

  code {
    border-radius: 10px;
    background-color: #011526;
    padding: 3rem;
    margin: 0;
  }

  .hljs-comment {
    color: grey;
    font-style: italic;
  }

  .hljs {
    font-family: 'dm';
    letter-spacing: -0.5px;
    text-align: left;
    margin-top: 5rem;

    mark {
      background-color: $headline;
      color: white;
      * {
        color: white;
      }
    }
  }

  .hljs-keyword {
    color: #BB88E2; //violet
    font-style: italic;
  }

  .hljs-built_in {
    color: #D7DEEB;
  }

  .code-blue {
    color: #378FFC;
  }
  .code-lightblue {
    color: #87CEFA;
  }
  .code-white {
    color: #D7DEEB;
  }
  .code-quotes {
    color: #4B7D98;
  }
  .code-orange {
    color: #ECC48D;
  }
  .code-yellow {
    color: #FFD700;
  }
  .code-turq {
    color: #7EDCCB;
  }
  .code-pink {
    color: #DA70D6;
  }
  .code-green {
    color: #9AD968;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a {
      display: inline-block;
      border-bottom: 1px solid $accent;

      &:hover{
          color: $headline;
          border-bottom: 1px solid $headline;
      }
  }

  .slides section .fragment.visible.hide-after {
    opacity: 0;

    &.current-fragment {
      opacity: 1;
    }
  }

  .container {
    position: relative;

    .fragment {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    pre.fragment {
      top: -20%;
    }
  }

  h1 {
    color: $headline;
    font-size: 4.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 200;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h2, h3, h4 { color: white; }

  .progress span {
    color: $headline;
  }

  .title {
    margin-bottom: 5rem;
  }

  .white {
    color: white;
  }

  .orange {
    color: $headline;
  }

  .accent {
    color: $accent;
  }

  .thin {
    font-weight: 100;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: 600;
  }

  .black-bold {
    font-weight: 800;
  }

  .horizontal-group {
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    color: white;
    margin: 0;
    list-style: none;

    li {
      font-size: 3rem;
      font-weight: 200;
      margin-bottom: 3rem;
    }
  }

  .footer {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate3d(-50%,0,0);
    transition: opacity 0.3s ease;
    opacity: 0;
    bottom: 0;
    padding: 2rem;
    z-index: 999;
    box-sizing: border-box;

    h3 {
      font-size: 2.6rem;
      color: #D8BFD8;
      opacity: 0.8;
    }

    a {
      border-bottom: none;
    }

    .site {
      float: left;
    }

    .twitter {
      float: right;
    }
  }
}
