body{
  font-family: 'Inter';
}

.reveal {
  a {
    color: inherit;
    text-decoration: none;
  }

  a {
      display: inline-block;
      border-bottom: 1px solid $accent;

      &:hover{
          color: $headline;
          border-bottom: 1px solid $headline;
      }
  }

  .slides section .fragment.visible.hide-after {
    opacity: 0;

    &.current-fragment {
      opacity: 1;
    }
  }

  h1 {
    color: $headline;
    font-size: 4.5rem;
    font-weight: 600;
  }

  h2 {
    font-size: 3rem;
    font-weight: 200;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h2, h3, h4 { color: white; }

  .progress span {
    color: $headline;
  }

  .title {
    margin-bottom: 5rem;
  }

  .white {
    color: white;
  }

  .orange {
    color: $headline;
  }

  .accent {
    color: $accent;
  }

  .thin {
    font-weight: 100;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: 600;
  }

  .black-bold {
    font-weight: 800;
  }

  .horizontal-group {
    &:after{
      clear:both;
    }
  }
  .horizontal {
    float: left;
    margin-left: 10%;
  }

  ul {
    color: white;
    margin: 0;
    list-style: none;

    li {
      font-size: 3rem;
      font-weight: 200;
      margin-bottom: 3rem;
    }
  }
}
