section:nth-child(13) {
  .mobile-speed {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    img {
      width: 100%;

      &:last-child {
        width: 81%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
    }
  }
}
