<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/fonts/inter.css">
        <style id="critical-css">
            body { background-color: #3B3251 !important; }
        </style>
    </head>
    <body>
        <div class="reveal">
            <div class="particles">
              <div class="particle"></div>
              <div class="particle"></div>
            </div>
            <div class="slides">
              <%= content %>
            </div>
        </div>
    </body>
</html>
