section:nth-child(3) {
  height: 35%;

  .hearst-logo{
    width: 18%;
    display: inline-block;
  }

  .drum  {
    width: auto;
    height: 100%;
    margin: 0 10%;
  }

  .sauce {
    width: auto;
    height: 100%;
  }
}
