section:nth-child(1) {
  position: relative;

  .main-title {
    color: $headline;
    text-transform: uppercase;
    margin-left: -10%;
    width: 120%;
    margin-top: -2%;
    margin-bottom: 2rem;

    h1 {
      display: inline-block;
      font-size: 7rem;
      font-weight: 900;

      span {
        font-family: 'Lato';
        margin-left: -0.5rem;
      }
    }
  }

  .fast{
    margin-left: 2.2rem;

    svg {
      vertical-align: middle;
      text-transform: uppercase;

      .img-layer {
        fill: url(#p-img);
      }

      .gradient-layer {
        fill: url(#gr-overlay);
        stroke: rgb(43, 37, 59);
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-opacity: 0.2;
      }
    }
  }

  .subtitle {
    font-family: 'Inter';
    font-size: 3rem;
    font-weight: 100;
    color: $accent;
  }
}
