section:nth-child(5) {
  .here {
    position: absolute;
    top: -80%;
    left: 0;
  }
  .mindblown {
    position: relative;
    margin-right: 7%;
    width: 21%;
  }
  .launch {
    margin-right: 7%;
    width: 28%;
  }

  .awesome {
    width: 37%;

    img {
      margin-bottom: 2.2rem;
    }
  }

  img {
    margin-bottom: 2rem;
  }
}
