.divide-conquer {
  svg {
    fill: $accent;
    margin-bottom: 1.5rem;
  }
  .app {
    margin-left: 8%;
    margin-right: 7%;
    svg {
      width: 57%;
    }
  }

  .dev svg {
    width: 50%;
  }
}
